CONFIG_SPI_SLAVE=y
CONFIG_SPI_SPIDEV=y
CONFIG_RTC_DRV_M41T80=y
CONFIG_RTC_DRV_M41T80_WDT=y
CONFIG_TOUCHSCREEN_STMPE=y
CONFIG_MFD_STMPE=y
CONFIG_THERMAL_DEFAULT_GOV_TWO_STAGE=y
CONFIG_THERMAL_GOV_STEP_WISE=y
CONFIG_INPUT_PALMAS_PWRBUTTON=m
CONFIG_BT_HCIUART_LL=y
CONFIG_ADIN_PHY=y
CONFIG_VIDEO_AR0144=m
CONFIG_VIDEO_MT9M111=m
CONFIG_VIDEO_MT9P031=m
CONFIG_RPMSG_PROTO=m
CONFIG_DRM_ETNAVIV=m
