CONFIG_REGULATOR_LP873X=y
CONFIG_MFD_TI_LP873X=y
CONFIG_LEDS_PCA9532=y
CONFIG_RTC_DRV_RV3028=y
CONFIG_SPI_SPIDEV=m
CONFIG_VIDEO_AR0144=m
CONFIG_VIDEO_AR0521=m
CONFIG_IGB=m
CONFIG_NET_VENDOR_REALTEK=y
CONFIG_R8169=m
CONFIG_MFD_TPS65219=y
CONFIG_INPUT_TPS65219_PWRBUTTON=y
CONFIG_REGULATOR_TPS65219=y
CONFIG_SENSORS_GPIO_FAN=m
CONFIG_SENSORS_TMP102=y
CONFIG_TCG_TPM=y
CONFIG_SND_SOC_TLV320AIC3X_I2C=y
CONFIG_DRM_TI_SN65DSI83=y
CONFIG_DRM_CDNS_DSI=y
CONFIG_DRM_CDNS_DSI_J721E=y
CONFIG_BT_BREDR=m
CONFIG_BT_BNEP=m
CONFIG_BT_LE=m
CONFIG_BT_USB=y
CONFIG_BT_HCIUART_H4=m
CONFIG_CRYPTO_ECB=m
CONFIG_CRYPTO_CMAC=m
CONFIG_CRYPTO_SHA256=m
CONFIG_CRYPTO_LIB_SHA256=m
CONFIG_CRYPTO_AES_ARM64=m
