// SPDX-License-Identifier: GPL-2.0-only OR MIT
/*
 * Copyright (C) 2025 PHYTEC Messtechnik GmbH
 * Author: Dominik Haller <d.haller@phytec.de>
 *
 * Product homepage:
 * https://www.phytec.eu/en/produkte/system-on-modules/phyflex-am62lx-fpsc/
 */

#include <dt-bindings/gpio/gpio.h>
#include <dt-bindings/net/ti-dp83867.h>

/ {
	model = "PHYTEC phyFLEX-AM62L FPSC-Gamma";
	compatible = "phytec,am62l-phyflex-fpsc-g", "ti,am62l3";

	aliases {
		ethernet0 = &cpsw_port1;
		i2c1 = &wkup_i2c0;
		mmc0 = &sdhci0;
		rtc0 = &i2c_som_rtc;
	};

	memory@80000000 {
		device_type = "memory";
		reg = <0x00000000 0x80000000 0x00000000 0x40000000>;
		bootph-all;
	};

	vcc_5v: regulator-vcc-5v {
		compatible = "regulator-fixed";
		regulator-name = "VCC_5V";
		regulator-min-microvolt = <5000000>;
		regulator-max-microvolt = <5000000>;
		regulator-always-on;
		regulator-boot-on;
	};

	vdd_mmc1_sd: regulator-vdd-mmc1-sd {
		/* Output of TPS22916 */
		compatible = "regulator-fixed";
		regulator-name = "VDD_MMC1_SD";
		pinctrl-names = "default";
		pinctrl-0 = <&vdd_mmc1_sd_pins_default>;
		enable-active-high;
		gpio = <&main_gpio0 14 GPIO_ACTIVE_HIGH>;
		regulator-min-microvolt = <3300000>;
		regulator-max-microvolt = <3300000>;
		regulator-boot-on;
		startup-delay-us = <100>;
		off-on-delay-us = <20000>;
		bootph-all;
	};

	regulator-vpp-1v8 {
		compatible = "regulator-fixed";
		regulator-name = "VPP_1V8";
		pinctrl-names = "default";
		pinctrl-0 = <&vpp_1v8_pins_default>;
		gpio = <&main_gpio0 13 GPIO_ACTIVE_HIGH>;
		enable-active-high;
		regulator-min-microvolt = <1800000>;
		regulator-max-microvolt = <1800000>;
	};
};

&pmx0 {
	main_mmc0_pins_default: main-mmc0-default-pins {
		pinctrl-single,pins = <
			AM62LX_IOPAD(0x0214, PIN_INPUT, 0) /* (D2) MMC0_CMD */
			AM62LX_IOPAD(0x020c, PIN_OUTPUT, 0) /* (B2) MMC0_CLK */
			AM62LX_IOPAD(0x0208, PIN_INPUT, 0) /* (D3) MMC0_DAT0 */
			AM62LX_IOPAD(0x0204, PIN_INPUT_PULLUP, 0) /* (D4) MMC0_DAT1 */
			AM62LX_IOPAD(0x0200, PIN_INPUT_PULLUP, 0) /* (C1) MMC0_DAT2 */
			AM62LX_IOPAD(0x01fc, PIN_INPUT_PULLUP, 0) /* (C2) MMC0_DAT3 */
			AM62LX_IOPAD(0x01f8, PIN_INPUT_PULLUP, 0) /* (C4) MMC0_DAT4 */
			AM62LX_IOPAD(0x01f4, PIN_INPUT_PULLUP, 0) /* (B3) MMC0_DAT5 */
			AM62LX_IOPAD(0x01f0, PIN_INPUT_PULLUP, 0) /* (A3) MMC0_DAT6 */
			AM62LX_IOPAD(0x01ec, PIN_INPUT_PULLUP, 0) /* (B4) MMC0_DAT7 */
		>;
		bootph-all;
	};

	main_sn65dsi83_pins_default: main-sn65dsi83-default-pins {
		pinctrl-single,pins = <
			AM62LX_IOPAD(0x0040, PIN_OUTPUT, 7) /* (E18) OSPI0_LBCLKO.GPIO0_1 */
		>;
	};

	mdio_pins_default: mdio1-default-pins {
		pinctrl-single,pins = <
			AM62LX_IOPAD(0x014c, PIN_OUTPUT, 0) /* (AC15) MDIO0_MDC */
			AM62LX_IOPAD(0x0148, PIN_INPUT, 0) /* (AC13) MDIO0_MDIO */
		>;
	};

	pmic_irq_pins_default: pmic-irq-default-pins {
		pinctrl-single,pins = <
			AM62LX_IOPAD(0x01e8, PIN_INPUT, 0) /* (C8) EXTINTn */
		>;
	};

	rgmii1_pins_default: rgmii1-default-pins {
		pinctrl-single,pins = <
			AM62LX_IOPAD(0x0138, PIN_INPUT, 0) /* (Y8) RGMII1_RD0 */
			AM62LX_IOPAD(0x013c, PIN_INPUT, 0) /* (AA6) RGMII1_RD1 */
			AM62LX_IOPAD(0x0140, PIN_INPUT, 0) /* (AA8) RGMII1_RD2 */
			AM62LX_IOPAD(0x0144, PIN_INPUT, 0) /* (W8) RGMII1_RD3 */
			AM62LX_IOPAD(0x0134, PIN_INPUT, 0) /* (Y7) RGMII1_RXC */
			AM62LX_IOPAD(0x0130, PIN_INPUT, 0) /* (Y6) RGMII1_RX_CTL */
			AM62LX_IOPAD(0x0120, PIN_OUTPUT, 0) /* (AC10) RGMII1_TD0 */
			AM62LX_IOPAD(0x0124, PIN_OUTPUT, 0) /* (W13) RGMII1_TD1 */
			AM62LX_IOPAD(0x0128, PIN_OUTPUT, 0) /* (Y11) RGMII1_TD2 */
			AM62LX_IOPAD(0x012c, PIN_OUTPUT, 0) /* (AA11) RGMII1_TD3 */
			AM62LX_IOPAD(0x011c, PIN_OUTPUT, 0) /* (W11) RGMII1_TXC */
			AM62LX_IOPAD(0x0118, PIN_OUTPUT, 0) /* (AB11) RGMII1_TX_CTL */
			AM62LX_IOPAD(0x006c, PIN_INPUT, 7) /* (D20) OSPI0_CSn1.GPIO0_12 */
		>;
	};

	vdd_mmc1_sd_pins_default: vdd-mmc1-default-pins {
		pinctrl-single,pins = <
			AM62LX_IOPAD(0x0074, PIN_OUTPUT, 7) /* (C23) OSPI0_CSn3.GPIO0_14 */
		>;
		bootph-all;
	};

	vpp_1v8_pins_default: vpp-1v8-pins-default {
		pinctrl-single,pins = <
			AM62LX_IOPAD(0x0070, PIN_OUTPUT, 7) /* (D18) OSPI0_CSN2.GPIO0_13 */
		>;
	};

	wkup_i2c0_pins_default: wkup-i2c0-default-pins {
		pinctrl-single,pins = <
			AM62LX_IOPAD(0x0010, PIN_INPUT, 0) /* (AB22) WKUP_I2C0_SCL */
			AM62LX_IOPAD(0x0014, PIN_INPUT, 0) /* (AA22) WKUP_I2C0_SDA */
		>;
		bootph-all;
	};
};

&cpsw3g {
	pinctrl-names = "default";
	pinctrl-0 = <&rgmii1_pins_default>;
};

&cpsw3g_mdio {
	pinctrl-names = "default";
	pinctrl-0 = <&mdio_pins_default>;
	status = "okay";

	cpsw3g_phy1: ethernet-phy@0 {
		reg = <0>;
		ti,clk-output-sel = <DP83867_CLK_O_SEL_OFF>;
		ti,fifo-depth = <DP83867_PHYCR_FIFO_DEPTH_4_B_NIB>;
		ti,rx-internal-delay = <DP83867_RGMIIDCTL_2_00_NS>;
		interrupt-parent = <&main_gpio0>;
		interrupts = <12 IRQ_TYPE_EDGE_FALLING>;
	};
};

&cpsw_port1 {
	phy-mode = "rgmii-rxid";
	phy-handle = <&cpsw3g_phy1>;
};

&main_gpio0 {
	status = "okay";
};

&wkup_i2c0 {
	pinctrl-names = "default";
	pinctrl-0 = <&wkup_i2c0_pins_default>;
	status = "okay";

	sn65dsi83: bridge@2d {
		compatible = "ti,sn65dsi83";
		reg = <0x2d>;
		pinctrl-names = "default";
		pinctrl-0 = <&main_sn65dsi83_pins_default>;
		enable-gpios = <&main_gpio0 1 GPIO_ACTIVE_HIGH>;
		vcc-supply = <&buck2_reg>;
		/* enabled in panel overlay */
		status = "disabled";
	};

	tps65214: pmic@30 {
		compatible = "ti,tps65214";
		reg = <0x30>;
		interrupt-parent = <&gic500>;
		interrupts = <GIC_SPI 224 IRQ_TYPE_LEVEL_HIGH>;
		pinctrl-0 = <&pmic_irq_pins_default>;
		buck1-supply = <&vcc_5v>;
		buck2-supply = <&vcc_5v>;
		buck3-supply = <&vcc_5v>;
		ldo1-supply = <&vcc_5v>;
		ldo2-supply = <&vcc_5v>;
		ti,power-button;

		regulators {
			buck1_reg: buck1 {
				regulator-name = "VDD_CORE";
				regulator-min-microvolt = <750000>;
				regulator-max-microvolt = <750000>;
				regulator-always-on;
				regulator-boot-on;
			};

			buck2_reg: buck2 {
				regulator-name = "VCC_1V8_SYS";
				regulator-min-microvolt = <1800000>;
				regulator-max-microvolt = <1800000>;
				regulator-always-on;
				regulator-boot-on;
			};

			buck3_reg: buck3 {
				regulator-name = "VDD_DDR4";
				regulator-min-microvolt = <1200000>;
				regulator-max-microvolt = <1200000>;
				regulator-always-on;
				regulator-boot-on;
			};

			ldo1_reg: ldo1 {
				regulator-name = "VDDA_1V8";
				regulator-min-microvolt = <1800000>;
				regulator-max-microvolt = <1800000>;
				regulator-always-on;
				regulator-boot-on;
			};

			ldo2_reg: ldo2 {
				regulator-name = "VDDA_2V5";
				regulator-min-microvolt = <2500000>;
				regulator-max-microvolt = <2500000>;
				regulator-always-on;
				regulator-boot-on;
			};
		};
	};

	temperature-sensor@48 {
		compatible = "ti,tmp102";
		reg = <0x48>;
	};

	eeprom@50 {
		compatible = "atmel,24c32";
		pagesize = <32>;
		reg = <0x50>;
		vcc-supply = <&buck2_reg>;
		bootph-all;
	};

	i2c_som_rtc: rtc@52 {
		compatible = "microcrystal,rv3028";
		reg = <0x52>;
	};
};

&sdhci0 {
	/* eMMC */
	non-removable;
	pinctrl-names = "default";
	pinctrl-0 = <&main_mmc0_pins_default>;
	bootph-all;
	status = "okay";
};

&sdhci1 {
	/* SD/MMC */
	vmmc-supply = <&vdd_mmc1_sd>;
};
