// SPDX-License-Identifier: GPL-2.0-only OR MIT
/*
 * Copyright (C) 2025 PHYTEC America LLC
 * Author: John Ma <jma@phytec.com>
 */

/dts-v1/;
/plugin/;

#include <dt-bindings/gpio/gpio.h>
#include <dt-bindings/interrupt-controller/irq.h>
#include "k3-pinctrl.h"

&{/} {
	aliases {
		serial4 = "/bus@f0000/serial@2820000";
	};

	reg_wifi_en: fixed-regulator-wifi-en {
		compatible = "regulator-fixed";
		regulator-name = "wifi_en";
		regulator-min-microvolt = <3300000>;
		regulator-max-microvolt = <3300000>;
		pinctrl-names = "default";
		pinctrl-0 = <&wifi_en_pins_default>;
		gpio = <&main_gpio0 72 GPIO_ACTIVE_HIGH>;
		regulator-always-on;
		enable-active-high;
	};
};

&main_pmx0 {
	bt_en_pins_default: bt-en-pins-default{
		pinctrl-single,pins = <
			J722S_IOPAD(0x009c, PIN_INPUT, 7) /* (W26) GPMC0_WAIT1.GPIO0_38 */
			J722S_IOPAD(0x01f0, PIN_INPUT, 7) /* (A23) EXT_REFCLK1.GPIO1_30 */
			J722S_IOPAD(0x0124, PIN_INPUT, 7) /* (F26) MMC2_SDCD.GPIO0_71 */
		>;
	};

	bt_uart2_pins_default: bt-uart2-pins-default {
		pinctrl-single,pins = <
			J722S_IOPAD(0x0074, PIN_INPUT, 8) /* (V22) GPMC0_AD14.UART2_CTSn */
			J722S_IOPAD(0x0078, PIN_OUTPUT, 8) /* (V23) GPMC0_AD15.UART2_RTSn */
			J722S_IOPAD(0x005c, PIN_INPUT, 2) /* (U27) GPMC0_AD8.UART2_RXD */
			J722S_IOPAD(0x0060, PIN_OUTPUT, 2) /* (U26) GPMC0_AD9.UART2_TXD */
		>;
	};

	main_mmc2_wifi_pins_default: main-mmc2-wifi-pins-default {
		pinctrl-single,pins = <
			J722S_IOPAD(0x0120, PIN_INPUT, 0) /* (F27) MMC2_CMD */
			J722S_IOPAD(0x0118, PIN_INPUT, 0) /* (H26) MMC2_CLK */
			J722S_IOPAD(0x011C, PIN_INPUT, 0) /* () MMC2_CLKLB */
			J722S_IOPAD(0x0114, PIN_INPUT, 0) /* (G26) MMC2_DAT0 */
			J722S_IOPAD(0x0110, PIN_INPUT, 0) /* (G27) MMC2_DAT1 */
			J722S_IOPAD(0x010c, PIN_INPUT, 0) /* (H27) MMC2_DAT2 */
			J722S_IOPAD(0x0108, PIN_INPUT, 0) /* (J27) MMC2_DAT3 */
		>;
	};

	wifi_en_pins_default: wifi-en-pins-default {
		pinctrl-single,pins = <
			J722S_IOPAD(0x0128, PIN_INPUT, 7) /* (H21) MMC2_SDWP.GPIO0_72 */
		>;
	};

	wifi_wlirq_pins_default: wifi-wlirq-pins-default {
		pinctrl-single,pins = <
			J722S_IOPAD(0x0044, PIN_INPUT, 7) /* (R26) GPMC0_AD2.GPIO0_17 */
		>;
	};
};

&main_uart2 {
	pinctrl-names = "default";
	pinctrl-0 = <&bt_uart2_pins_default>;
	status = "okay";

	bluetooth {
		compatible = "ti,cc33xx-bt";
		pinctrl-names = "default";
		pinctrl-0 = <&bt_en_pins_default>;
		cc33xx-supply = <&reg_wifi_en>;
		max-speed = <115200>;
	};
};

&sdhci2 {
	vmmc-supply = <&reg_wifi_en>;
	pinctrl-names = "default";
	pinctrl-0 = <&main_mmc2_wifi_pins_default>;
	bus-width = <4>;
	non-removable;
	ti,fails-without-test-cd;
	cap-power-off-card;
	keep-power-in-suspend;
	#address-cells = <1>;
	#size-cells = <0>;
	status = "okay";

	wifi: cc3300@2 {
		compatible = "ti,cc3300";
		reg = <2>;
		pinctrl-names = "default";
		pinctrl-0 = <&wifi_wlirq_pins_default>;
		interrupt-parent = <&main_gpio0>;
		interrupts = <17 IRQ_TYPE_EDGE_FALLING>;
	};
};
