// SPDX-License-Identifier: GPL-2.0-only OR MIT
/*
 * Copyright (C) 2026 PHYTEC America LLC
 * Author: John Ma <jma@phytec.com>
 */

#include <dt-bindings/gpio/gpio.h>
#include <dt-bindings/leds/common.h>
#include <dt-bindings/net/ti-dp83867.h>
#include "k3-am62p5.dtsi"
#include "k3-am62p-phyflex-fpsc-g-som.dtsi"

/ {
	compatible = "phytec,am62p5-phyflex-libra-rdk",
		     "phytec,am62p-phyflex-fpsc-g", "ti,am62p5";
	model = "PHYTEC phyFLEX-AM62P Libra Rapid Development Kit";

	aliases {
		ethernet2 = &cpsw_port2;
		mmc1 = &sdhci1;
		serial2 = &main_uart1;
		serial3 = &main_uart0;
		spi0 = &ospi0;
		spi1 = &main_spi0;
		usb0 = &usb0;
		usb1 = &usb1;
	};

	chosen {
		stdout-path = &main_uart1;
	};

	can_tc0: can-phy0 {
		compatible = "ti,tcan1042";
		#phy-cells = <0>;
		max-bitrate = <8000000>;
		standby-gpios = <&gpio_exp2 0 GPIO_ACTIVE_HIGH>;
	};

	usb0_connector: connector {
		compatible = "gpio-usb-b-connector", "usb-b-connector";
		label = "USB-C";
		data-role = "dual";

		pinctrl-names = "default";
		pinctrl-0 = <&main_usbc_power_pins_default>;

		id-gpios = <&main_gpio0 42 GPIO_ACTIVE_HIGH>;

		port {
			usb0_con: endpoint {
				remote-endpoint = <&usb0_ep>;
			};
		};
	};

	vdd_1v8: regulator-vdd-1v8 {
		compatible = "regulator-fixed";
		regulator-name = "VDD_1V8";
		regulator-min-microvolt = <1800000>;
		regulator-max-microvolt = <1800000>;
		regulator-always-on;
		regulator-boot-on;
	};

	vdd_3v3: regulator-vdd-3v3 {
		compatible = "regulator-fixed";
		regulator-name = "VDD_3V3";
		regulator-min-microvolt = <3300000>;
		regulator-max-microvolt = <3300000>;
		regulator-always-on;
		regulator-boot-on;
	};

	vdd_3v3_mmc: regulator-vdd-3v3-mmc {
		compatible = "regulator-fixed";
		regulator-name = "VDD_3V3_MMC";
		regulator-min-microvolt = <3300000>;
		regulator-max-microvolt = <3300000>;
		regulator-always-on;
		regulator-boot-on;
	};

	vdd_5v0_ref: regulator-vdd-5v0-ref {
		compatible = "regulator-fixed";
		regulator-name = "VDD_5V0_REF";
		regulator-min-microvolt = <5000000>;
		regulator-max-microvolt = <5000000>;
		regulator-always-on;
		regulator-boot-on;
	};
};

&main_pmx0 {
	gpio_exp1_int_pins_default: gpio-exp1-int-default-pins {
		pinctrl-single,pins = <
			AM62PX_IOPAD(0x01f0, PIN_INPUT, 7) /* (C25) EXT_REFCLK1.GPIO1_30 */
		>;
	};

	gpio_exp2_int_pins_default: gpio-exp2-int-default-pins {
		pinctrl-single,pins = <
			AM62PX_IOPAD(0x0050, PIN_INPUT, 7) /* (T21) GPMC0_AD5.GPIO0_20 */
		>;
	};

	main_i2c0_pins_default: main-i2c0-default-pins {
		pinctrl-single,pins = <
			AM62PX_IOPAD(0x01e0, PIN_INPUT, 0) /* (B25) I2C0_SCL */
			AM62PX_IOPAD(0x01e4, PIN_INPUT, 0) /* (A24) I2C0_SDA */
		>;
	};

	main_i2c1_pins_default: main-i2c1-default-pins {
		pinctrl-single,pins = <
			AM62PX_IOPAD(0x01e8, PIN_INPUT, 0) /* (C24) I2C1_SCL */
			AM62PX_IOPAD(0x01ec, PIN_INPUT, 0) /* (B24) I2C1_SDA */
		>;
	};

	main_i2c2_pins_default: main-i2c2-default-pins {
		pinctrl-single,pins = <
			AM62PX_IOPAD(0x00b0, PIN_INPUT, 1) /* (T22) GPMC0_CSn2.I2C2_SCL */
			AM62PX_IOPAD(0x00b4, PIN_INPUT, 1) /* (U25) GPMC0_CSn3.I2C2_SDA */
		>;
	};

	main_mcan0_pins_default: main-mcan0-default-pins {
		pinctrl-single,pins = <
			AM62PX_IOPAD(0x01dc, PIN_INPUT, 0) /* (F20) MCAN0_RX */
			AM62PX_IOPAD(0x01d8, PIN_OUTPUT, 0) /* (B23) MCAN0_TX */
		>;
	};

	main_mmc1_pins_default: main-mmc1-default-pins {
		pinctrl-single,pins = <
			AM62PX_IOPAD(0x023c, PIN_INPUT, 0) /* (H20) MMC1_CMD */
			AM62PX_IOPAD(0x0234, PIN_OUTPUT, 0) /* (J24) MMC1_CLK */
			AM62PX_IOPAD(0x0230, PIN_INPUT, 0) /* (H21) MMC1_DAT0 */
			AM62PX_IOPAD(0x022c, PIN_INPUT, 0) /* (H23) MMC1_DAT1 */
			AM62PX_IOPAD(0x0228, PIN_INPUT, 0) /* (H22) MMC1_DAT2 */
			AM62PX_IOPAD(0x0224, PIN_INPUT, 0) /* (H25) MMC1_DAT3 */
			AM62PX_IOPAD(0x0240, PIN_INPUT, 0) /* (D23) MMC1_SDCD */
		>;
		bootph-all;
	};

	main_rgmii2_pins_default: main-rgmii2-default-pins {
		pinctrl-single,pins = <
			AM62PX_IOPAD(0x0184, PIN_INPUT, 0) /* (E19) RGMII2_RD0 */
			AM62PX_IOPAD(0x0188, PIN_INPUT, 0) /* (E16) RGMII2_RD1 */
			AM62PX_IOPAD(0x018c, PIN_INPUT, 0) /* (E17) RGMII2_RD2 */
			AM62PX_IOPAD(0x0190, PIN_INPUT, 0) /* (C19) RGMII2_RD3 */
			AM62PX_IOPAD(0x0180, PIN_INPUT, 0) /* (D19) RGMII2_RXC */
			AM62PX_IOPAD(0x017c, PIN_INPUT, 0) /* (F19) RGMII2_RX_CTL */
			AM62PX_IOPAD(0x016c, PIN_INPUT, 0) /* (B19) RGMII2_TD0 */
			AM62PX_IOPAD(0x0170, PIN_INPUT, 0) /* (A21) RGMII2_TD1 */
			AM62PX_IOPAD(0x0174, PIN_INPUT, 0) /* (D17) RGMII2_TD2 */
			AM62PX_IOPAD(0x0178, PIN_INPUT, 0) /* (A19) RGMII2_TD3 */
			AM62PX_IOPAD(0x0168, PIN_INPUT, 0) /* (D16) RGMII2_TXC */
			AM62PX_IOPAD(0x0164, PIN_INPUT, 0) /* (A20) RGMII2_TX_CTL */
		>;
	};

	main_spi0_pins_default: main-spi0-default-pins {
		pinctrl-single,pins = <
			AM62PX_IOPAD(0x01bc, PIN_INPUT, 0) /* (B21) SPI0_CLK */
			AM62PX_IOPAD(0x01b4, PIN_INPUT, 0) /* (D20) SPI0_CS0 */
			AM62PX_IOPAD(0x01c0, PIN_INPUT, 0) /* (B20) SPI0_D0 */
			AM62PX_IOPAD(0x01c4, PIN_INPUT, 0) /* (C21) SPI0_D1 */
		>;
	};

	main_uart0_pins_default: main-uart0-default-pins {
		pinctrl-single,pins = <
			AM62PX_IOPAD(0x01c8, PIN_INPUT, 0) /* (A22) UART0_RXD */
			AM62PX_IOPAD(0x01cc, PIN_OUTPUT, 0) /* (B22) UART0_TXD */
		>;
		bootph-all;
	};

	main_uart1_pins_default: main-uart1-default-pins {
		pinctrl-single,pins = <
			AM62PX_IOPAD(0x01ac, PIN_INPUT, 2) /* (G23) MCASP0_AFSR.UART1_RXD */
			AM62PX_IOPAD(0x01b0, PIN_OUTPUT, 2) /* (G20) MCASP0_ACLKR.UART1_TXD */
		>;
		bootph-all;
	};

	main_usb0_pins_default: main-usb0-default-pins {
		pinctrl-single,pins = <
			AM62PX_IOPAD(0x0254, PIN_OUTPUT, 0) /* (G22) USB0_DRVVBUS */
		>;
	};

	main_usb1_pins_default: main-usb1-default-pins {
		pinctrl-single,pins = <
			AM62PX_IOPAD(0x0258, PIN_OUTPUT, 0) /* (G21) USB1_DRVVBUS */
		>;
	};

	main_usbc_power_pins_default: main-usbc-power-default-pins {
		pinctrl-single,pins = <
			AM62PX_IOPAD(0x00ac, PIN_INPUT, 7) /* (U23) GPMC0_CSn1.GPIO0_42 */
		>;
	};

	ospi0_pins_default: ospi0-default-pins {
		pinctrl-single,pins = <
			AM62PX_IOPAD(0x0000, PIN_OUTPUT, 0) /* (P23) OSPI0_CLK */
			AM62PX_IOPAD(0x002c, PIN_OUTPUT, 0) /* (M25) OSPI0_CSn0 */
			AM62PX_IOPAD(0x000c, PIN_INPUT, 0) /* (L25) OSPI0_D0 */
			AM62PX_IOPAD(0x0010, PIN_INPUT, 0) /* (N24) OSPI0_D1 */
			AM62PX_IOPAD(0x0014, PIN_INPUT, 0) /* (N25) OSPI0_D2 */
			AM62PX_IOPAD(0x0018, PIN_INPUT, 0) /* (M24) OSPI0_D3 */
			AM62PX_IOPAD(0x0008, PIN_INPUT, 0) /* (P22) OSPI0_DQS */
		>;
		bootph-all;
	};
};

&cpsw3g {
	pinctrl-names = "default";
	pinctrl-0 = <&main_rgmii1_pins_default>, <&main_rgmii2_pins_default>;
};

&cpsw3g_mdio {
	cpsw3g_phy2: ethernet-phy@1 {
		reg = <1>;
		tx-fifo-depth = <DP83867_PHYCR_FIFO_DEPTH_4_B_NIB>;
		ti,min-output-impedance;
		ti,rx-internal-delay = <DP83867_RGMIIDCTL_2_00_NS>;
	};
};

&cpsw_port2 {
	phy-mode = "rgmii-id";
	phy-handle = <&cpsw3g_phy2>;
	status = "okay";
};

&main_i2c0 {
	pinctrl-names = "default";
	pinctrl-0 = <&main_i2c0_pins_default>;
	clock-frequency = <400000>;
	status = "okay";

	gpio_exp1: gpio@21 {
		pinctrl-names = "default";
		pinctrl-0 = <&gpio_exp1_int_pins_default>;
		compatible = "ti,tca6416";
		reg = <0x21>;
		vcc-supply = <&vdd_3v3>;
		interrupt-parent = <&main_gpio1>;
		interrupts = <30 IRQ_TYPE_EDGE_FALLING>;
		#gpio-cells = <2>;
		gpio-controller;
		interrupt-controller;
		#interrupt-cells = <2>;
		gpio-line-names = "VCONN_nFAULT", "X_CSI1_CTRL1",
				   "X_CSI1_CTRL3", "X_CSI1_CTRL4",
				   "USB-C_nINT/AUDIO_AC", "X_CSI2_CTRL1",
				   "X_CSI2_CTRL3", "X_CSI2_CTRL4",
				   "CLK_EN_AV", "X_W_nDISABLE1",
				   "X_W_nDISABLE2", "X_PCIE1_nWAKE",
				   "X_PCIE2_nWAKE", "X_UART1_nWAKE",
				   "UART1_BT_RS_SEL", "UART1_RS232_485_SEL";
	};

	eeprom@51 {
		compatible = "atmel,24c02";
		reg = <0x51>;
		pagesize = <16>;
		vcc-supply = <&vdd_1v8>;
	};

	eeprom@52 {
		compatible = "atmel,24c02";
		reg = <0x52>;
		pagesize = <16>;
		vcc-supply = <&vdd_1v8>;
	};
};

&main_i2c1 {
	pinctrl-names = "default";
	pinctrl-0 = <&main_i2c1_pins_default>;
	clock-frequency = <100000>;
	status = "okay";

	gpio_exp2: gpio@21 {
		pinctrl-names = "default";
		pinctrl-0 = <&gpio_exp2_int_pins_default>;
		compatible = "ti,tca6416";
		reg = <0x21>;
		vcc-supply = <&vdd_3v3>;
		interrupt-parent = <&main_gpio0>;
		interrupts = <20 IRQ_TYPE_EDGE_FALLING>;
		#gpio-cells = <2>;
		gpio-controller;
		interrupt-controller;
		#interrupt-cells = <2>;
		gpio-line-names = "CAN1_STBY", "CAN2_STBY",
				   "CAN3_STBY", "X_KEY-E_nALERT",
				   "X_KEY-M_nALERT", "X_SDIO_nWAKE",
				   "X_SDIO_nRESET", "HDMI_EN",
				   "X_RTC_nINT", "LVDS1_BL_EN",
				   "SFP_TX_FAULT", "SFP_TX_DISABLE",
				   "SFP_MOD_ABS", "SFP_RS0",
				   "SFP_RX_LOSS", "SFP_RS1";
		bootph-all;
	};

	led_controller: led-controller@62 {
		#address-cells = <1>;
		#size-cells = <0>;
		compatible = "nxp,pca9633";
		reg = <0x62>;

		led@0 {
			reg = <0>;
			color = <LED_COLOR_ID_RED>;
		};

		led@1 {
			reg = <1>;
			color = <LED_COLOR_ID_GREEN>;
		};

		led@2 {
			reg = <2>;
			color = <LED_COLOR_ID_BLUE>;
		};
	};
};

&main_i2c2 {
	pinctrl-names = "default";
	pinctrl-0 = <&main_i2c2_pins_default>;
	status = "okay";

	temperature-sensor@4f {
		compatible = "nxp,p3t1755";
		reg = <0x4f>;
		vs-supply = <&vdd_1v8>;
	};
};

&main_mcan0 {
	pinctrl-names = "default";
	pinctrl-0 = <&main_mcan0_pins_default>;
	phys = <&can_tc0>;
	status = "okay";
};

&main_spi0 {
	#address-cells = <1>;
	#size-cells = <0>;
	pinctrl-names = "default";
	pinctrl-0 = <&main_spi0_pins_default>;

	ti,pindir-d0-out-d1-in;
	status = "okay";

	adc@0 {
		compatible = "microchip,mcp3002";
		reg = <0>;
		vref-supply = <&vdd_5v0_ref>;
		spi-cpha;
		spi-cpol;
		#io-channel-cells = <1>;
	};
};

&main_uart0 {
	pinctrl-names = "default";
	pinctrl-0 = <&main_uart0_pins_default>;
	bootph-all;
	status = "okay";
};

&main_uart1 {
	pinctrl-names = "default";
	pinctrl-0 = <&main_uart1_pins_default>;
	bootph-all;
	status = "okay";
};

&ospi0 {
	pinctrl-names = "default";
	pinctrl-0 = <&ospi0_pins_default>;
	bootph-all;
	status = "okay";

	serial_flash: flash@0 {
		compatible = "jedec,spi-nor";
		reg = <0x0>;
		spi-tx-bus-width = <4>;
		spi-rx-bus-width = <4>;
		spi-max-frequency = <25000000>;
		cdns,tshsl-ns = <60>;
		cdns,tsd2d-ns = <60>;
		cdns,tchsh-ns = <60>;
		cdns,tslch-ns = <60>;
		cdns,read-delay = <0>;
		bootph-all;
	};
};

&sdhci1 {
	vmmc-supply = <&vdd_3v3_mmc>;
	vqmmc-supply = <&vddshv5_sdio>;
	pinctrl-names = "default";
	pinctrl-0 = <&main_mmc1_pins_default>;
	disable-wp;
	no-1-8-v;
	bootph-all;
	status = "okay";
};

&usbss0 {
	ti,vbus-divider;
	bootph-pre-ram;
	status = "okay";
};

&usb0 {
	dr_mode = "otg";
	usb-role-switch;
	maximum-speed = "high-speed";
	pinctrl-names = "default";
	pinctrl-0 = <&main_usb0_pins_default>;

	port {
		usb0_ep: endpoint {
			remote-endpoint = <&usb0_con>;
		};
	};
};

/* Required for USB DFU Boot */
&usb0_phy_ctrl {
	bootph-pre-ram;
};

&usbss1 {
	ti,vbus-divider;
	status = "okay";
};

&usb1 {
	dr_mode = "host";
	pinctrl-names = "default";
	pinctrl-0 = <&main_usb1_pins_default>;
};
