// SPDX-License-Identifier: GPL-2.0
/*
 * Copyright (C) 2023 PHYTEC Messtechnik GmbH
 * Author: Dominik Haller <d.haller@phytec.de>
 */

/dts-v1/;
/plugin/;

#include <dt-bindings/gpio/gpio.h>
#include "k3-pinctrl.h"

&{/} {
	panel {
		compatible = "edt,etml1010g3dra";
		backlight = <&backlight>;

		port {
			panel_in: endpoint {
				remote-endpoint = <&sn65dsi83_out>;
			};
		};
	};

	backlight: backlight {
		compatible = "pwm-backlight";
		pinctrl-names = "default";
		pinctrl-0 = <&main_lvds_pins_default &wkup_lvds_pins_default>;
		pwms = <&main_ehrpwm0 1 6666666 0>;
		power-supply = <&reg_lvds_en>;
		enable-gpios = <&wkup_gpio0 17 GPIO_ACTIVE_LOW>;
		brightness-levels = <0 32 64 96 128 160 192 224 255>;
		default-brightness-level = <6>;
	};

	reg_lvds_en: regulator-lvds-en {
		compatible = "regulator-fixed";
		regulator-name = "lvds_en";
		regulator-min-microvolt = <12000000>;
		regulator-max-microvolt = <12000000>;
		gpio = <&main_gpio0 1 GPIO_ACTIVE_HIGH>;
		enable-active-high;
	};
};

&main_pmx0 {
	main_lvds_pins_default: main-panel-pins-default {
		pinctrl-single,pins = <
			J721S2_IOPAD(0x004, PIN_OUTPUT, 7) /* (W25) MCAN12_TX.GPIO0_1 */
			J721S2_IOPAD(0x064, PIN_OUTPUT, 9) /* (W28) MCAN0_TX.EHRPWM0_B */
		>;
	};
};

&wkup_pmx0 {
	wkup_lvds_pins_default: wkup-lvds_pins_default {
		pinctrl-single,pins = <
			J721S2_WKUP_IOPAD(0x004, PIN_OUTPUT, 7) /* (E20) MCU_OSPI0_LBCLKO.WKUP_GPIO0_17 */
		>;
	};
};

&dphy_tx0 {
	status = "okay";
};

&dss {
	assigned-clocks = <&k3_clks 158 14>;
	assigned-clock-parents = <&k3_clks 158 16>;
	assigned-clock-rates = <78950000>;
	status = "okay";
};

&dss_ports {
	#address-cells = <1>;
	#size-cells = <0>;

	port@2 {
		reg = <2>;
		dpi2_out: endpoint {
			remote-endpoint = <&dsi0_in>;
		};
	};
};

&dsi0 {
	status = "okay";
};

&dsi0_ports {
	#address-cells = <1>;
	#size-cells = <0>;

	port@0 {
		reg = <0>;
		dsi0_out: endpoint {
			remote-endpoint = <&sn65dsi83_in>;
		};
	};

	port@1 {
		reg = <1>;
		dsi0_in: endpoint {
			remote-endpoint = <&dpi2_out>;
		};
	};
};

&sn65dsi83 {
	status = "okay";
};

&sn65dsi83_ports {
	#address-cells = <1>;
	#size-cells = <0>;

	port@0 {
		reg = <0>;
		sn65dsi83_in: endpoint {
			remote-endpoint = <&dsi0_out>;
			data-lanes = <1 2 3 4>;
		};
	};

	port@2 {
		reg = <2>;
		sn65dsi83_out: endpoint {
			remote-endpoint = <&panel_in>;
		};
	};
};

&main_ehrpwm0 {
	status = "okay";
};
